* text=auto eol=lf

# Scripts nativos
*.sh text eol=lf
*.bat text eol=crlf
*.cmd text eol=crlf
*.ps1 text eol=crlf

# Arquivos binários
*.ico binary
*.jpg binary
*.jpeg binary
*.png binary
*.gif binary
*.webp binary
*.woff binary
*.woff2 binary
*.pdf binary
*.jar binary
*.zip binary
*.tar binary
